@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body{
  overflow-x: hidden;
}
::-webkit-scrollbar{
  display: none;
}

:root {
  font-family: "Inter", sans-serif, system-ui, sans-serif;
  scroll-behavior: smooth;
}

@layer components {
  .btn-register {
    @apply border-solid border-2 border-white text-white p-2 hover:text-black hover:bg-white;
  }

  .nav-link-text {
    @apply text-gray-200 hover:text-purple-400;
    @apply text-sm;
  }

  .bg-1 {
    background-image: url("../public/images/hero.jpg");
    aspect-ratio: 16/9;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .bg-2 {
    @apply bg-gradient-to-b from-[#6d208d] via-violet-800 to-violet-700;
  }

  /* .bg-3 {
    background-image: url("../public/SVG/image.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  } */

  .bg-profile {
    background-image: url("../public/bg_profile.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:bottom;
  }

  .bg-event {
    background-image: url("../public/events_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .bg-faq {
    background-image: url("../public/faq_bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .translucent-effect {
    -webkit-backdrop-filter: blur(59.3826px);
    backdrop-filter: blur(59.3826px);
    background: linear-gradient(
      164.86deg,
      rgba(171, 165, 248, 0.2) 43.85%,
      rgba(38, 32, 48, 0.25) 164.42%
    );
  }

  .countdown-title {
    @apply text-white capitalize italic;
    @apply text-3xl sm:text-6xl;
    @apply p-4 md:mb-5;
    @apply drop-shadow-2xl;
  }

  .time-card {
    -webkit-backdrop-filter: blur(59.3826px);
    backdrop-filter: blur(59.3826px);
    background: linear-gradient(
      164.86deg,
      rgba(171, 165, 248, 0.2) 43.85%,
      rgba(38, 32, 48, 0.25) 164.42%
    );
    @apply text-white my-5 mx-10 p-3 sm:p-6 2xl:p-12 rounded-2xl;
    /* border-right: 10px solid #5f3dc4; */
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.15));
  }

  .time-card-text-wrapper {
    @apply flex flex-col items-center justify-center;
    @apply text-center;
  }

  .event-tab {
    @apply rounded-lg text-base capitalize font-medium leading-5 text-black;
    @apply focus:outline-none;
    @apply transition ease-in-out duration-150;
    @apply px-5 py-1;
  }
}

/* ---- reset ---- */

body {
  margin: 0;
  background-color: #17182f;
}

canvas {
  display: block;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}
.footer2023{
  background-image: url("../public/images/starryNight.jpeg");
  background-size: cover;
}

/* ---- sticky navbar ----  */

.sticky{
  background-color: rgba(255, 255, 255, 0.082);
  backdrop-filter: blur(10px);
  height: 5vh;
  position: fixed;
  color: #fff
  
}

/* ---- sponsor motion ---- */

.sponsorStrip1{
  /* background-color: red; */
  width: 300vw;
  animation: leftToRight 20s infinite alternate linear;
}

@keyframes leftToRight {
  0%{
    margin-left: -100vw;
  }
  100%{
    margin-left: 0vw;
  }
}

.sponsorStrip2{
  /* background-color: red; */
  width: 300vw;
  animation: rightToLeft 20s infinite alternate linear;
}
@keyframes rightToLeft {
  0%{
    margin-left: 0vw;
  }
  100%{
    margin-left: -100vw;
  }
}

/* ---- Shooting Star Animation ---- */

.shootingStarWrapper{   
  /* background-color: red; */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  margin-left: 40vw;
  transform: rotateZ(-20deg);
  animation: shootingStarAnimation 5s infinite linear;
  opacity: 0;
}
.shootingStar{
  height: 0.5vh;
  width: 0.5vh;
  background-color: #fff;
  border-radius: 50%;
}
.shootingStarTail{
  height: 1px;
  width: 15vw;
  background: linear-gradient(90deg,white,transparent);
}
@keyframes shootingStarAnimation {
  0%{
      transform: translateY(0px) translateX(0px) rotateZ(-20deg);
      opacity: 0;
  }
  10%{
      opacity: 0.7;
  }
  100%{
      transform: translateY(1000px) translateX(-3000px) rotateZ(-20deg);
      opacity: 1;
  }
}
.shootingStarWrapper1{   
  /* background-color: red; */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15vh;
  margin-left: 70vw;
  transform: rotateZ(-20deg);
  animation: shootingStarAnimation1 5s infinite linear;
  animation-delay: 2.5s;
  opacity: 0;
}
@keyframes shootingStarAnimation1{
  0%{
      transform: translateY(0px) translateX(0px) rotateZ(-20deg);
      opacity: 0;
  }
  10%{
      opacity: 0.7;
  }
  100%{
      transform: translateY(1000px) translateX(-3000px) rotateZ(-20deg);
      opacity: 1;
  }
}
.shootingStarWrapper2{   
  /* background-color: red; */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
  margin-left: 89vw;
  transform: rotateZ(-20deg);
  animation: shootingStarAnimation2 3s infinite linear;
  animation-delay: 4.5s;
  opacity: 0;
}
@keyframes shootingStarAnimation2{
  0%{
      transform: translateY(0px) translateX(0px) rotateZ(-20deg);
      opacity: 0;
  }
  10%{
      opacity: 0.7;
  }
  100%{
      transform: translateY(1000px) translateX(-3000px) rotateZ(-20deg);
      opacity: 1;
  }
}
.shootingStarWrapper3{   
  /* background-color: red; */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40vh;
  margin-left: 19vw;
  transform: rotateZ(-20deg);
  animation: shootingStarAnimation3 2s infinite linear;
  animation-delay: 6s;
  opacity: 0;
}
@keyframes shootingStarAnimation3{
  0%{
      transform: translateY(0px) translateX(0px) rotateZ(-20deg);
      opacity: 0;
  }
  10%{
      opacity: 0.7;
  }
  100%{
      transform: translateY(1000px) translateX(-3000px) rotateZ(-20deg);
      opacity: 1;
  }
}
.shootingStarWrapper4{   
  /* background-color: red; */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60vh;
  margin-left: 60vw;
  transform: rotateZ(-20deg);
  animation: shootingStarAnimation4 6s infinite linear;
  animation-delay: 6s;
  opacity: 0;
}
@keyframes shootingStarAnimation4{
  0%{
      transform: translateY(0px) translateX(0px) rotateZ(-20deg);
      opacity: 0;
  }
  10%{
      opacity: 0.7;
  }
  100%{
      transform: translateY(1000px) translateX(-3000px) rotateZ(-20deg);
      opacity: 1;
  }
}
.shootingStarWrapper5{   
  /* background-color: red; */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50vh;
  margin-left: 95vw;
  transform: rotateZ(-20deg);
  animation: shootingStarAnimation5 7s infinite linear;
  animation-delay: 7.5s;
  opacity: 0;
}
@keyframes shootingStarAnimation5{
  0%{
      transform: translateY(0px) translateX(0px) rotateZ(-20deg);
      opacity: 0;
  }
  10%{
      opacity: 0.7;
  }
  100%{
      transform: translateY(1000px) translateX(-3000px) rotateZ(-20deg);
      opacity: 1;
  }
}
.shootingStarWrapper6{   
  /* background-color: red; */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
  margin-left: 10vw;
  transform: rotateZ(-20deg);
  animation: shootingStarAnimation6 3s infinite linear;
  animation-delay: 7.5s;
  opacity: 0;
}
@keyframes shootingStarAnimation6{
  0%{
      transform: translateY(0px) translateX(0px) rotateZ(-20deg);
      opacity: 0;
  }
  10%{
      opacity: 0.7;
  }
  100%{
      transform: translateY(1000px) translateX(-3000px) rotateZ(-20deg);
      opacity: 1;
  }
}
.shootingStarWrapper7{   
  /* background-color: red; */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  margin-left: 30vw;
  transform: rotateZ(-20deg);
  animation: shootingStarAnimation7 10s infinite linear;
  animation-delay: 7.5s;
  opacity: 0;
}
@keyframes shootingStarAnimation7{
  0%{
      transform: translateY(0px) translateX(0px) rotateZ(-20deg);
      opacity: 0;
  }
  10%{
      opacity: 0.7;
  }
  100%{
      transform: translateY(1000px) translateX(-3000px) rotateZ(-20deg);
      opacity: 1;
  }
}
.shootingStarWrapper8{   
  /* background-color: red; */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  margin-left: 90vw;
  transform: rotateZ(-20deg);
  animation: shootingStarAnimation8 8s infinite linear;
  animation-delay: 7.5s;
  opacity: 0;
}
@keyframes shootingStarAnimation8{
  0%{
      transform: translateY(0px) translateX(0px) rotateZ(-20deg);
      opacity: 0;
  }
  10%{
      opacity: 0.7;
  }
  100%{
      transform: translateY(1000px) translateX(-3000px) rotateZ(-20deg);
      opacity: 1;
  }
}
.shootingStarWrapper9{   
  /* background-color: red; */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35vh;
  margin-left: 90vw;
  transform: rotateZ(-20deg);
  animation: shootingStarAnimation9 7s infinite linear;
  animation-delay: 4.5s;
  opacity: 0;
}
@keyframes shootingStarAnimation9{
  0%{
      transform: translateY(0px) translateX(0px) rotateZ(-20deg);
      opacity: 0;
  }
  10%{
      opacity: 0.7;
  }
  100%{
      transform: translateY(1000px) translateX(-3000px) rotateZ(-20deg);
      opacity: 1;
  }
}